{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Listing</h1>
			</div>
		</div>

		{% if app.user %}
			<div class="row alert alert-warning" role="alert">
				<div class="col-xs-9 col-sm-10"></div>
				<div class="col-xs-3 col-sm-2">
					<a href="{{ path('article_add') }}" role="button" class="btn btn-info text-right">
						<i class="fa fa-plus fa-fw"></i>
						Ajouter
					</a>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="container-fluid">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Publié</th>
					<th>Auteur</th>
					<th>Supprimer</th>
					<th>Modifier</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>
						<th>{{ article.id }}</th>
						<td>{{ article.title }}</td>
						<td>{{ article.content|nl2br }}</td>
						<td>{{ article.isPublished ? 'Oui' : 'Non' }}</td>
						<td>{{ article.author.username }}</td>
						<td>
							{% if app.user and article.author == app.user %}
								<a href="{{ path('article_remove', {'id': article.id}) }}" class="btn btn-danger">Supprimer</a>
							{% endif %}
						</td>
						<td>
							{% if app.user and article.author == app.user %}
								<a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-info">Modifier</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
