{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block content %}

	{# Titre de la page #}
	<div class="container">
		{{ form_start(form, {
        method: 'POST',
        attr: {'novalidate': 'novalidate'}
    }) }}

		<div id="info" class="panel-collapse">
			{{ include('helpers/form/_group.html.twig', { 'field': form.title }) }}
			{{ include('helpers/form/_group.html.twig', { 'field': form.content }) }}
			{{ include('helpers/form/_group.html.twig', { 'field': form.isPublished }) }}
		</div>

		{% if mode == 'update' %}
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-group data-toggle="collapse" href="#info-compl">
						<i class="fa fa-plus fa-fw"></i>
						Informations complémentaires
					</a>
				</h4>
			</div>
			<div id="info-compl" class="panel-collapse table-responsive">
				<table class="table table-condensed fiche">
					<tbody>
						<tr>
							<td>Publication</td>
							<td>
								Publié le
								{{ article.publishedAt ? article.publishedAt|date("d-m-Y à H:i:s") : 'Non publié' }}
								{{ article.author ? 'par ' ~ article.author.username }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		{% endif %}

		<div class="row mt-3">
			{% if not form.vars.valid %}
				<div class="col-md-8 error">
					<i class="fa fa-exclamation-triangle fa-fw"></i>
					Le formulaire contient des erreurs. Vérifiez les différentes rubriques.
				</div>
			{% endif %}
			<div class="col-md-4 text-right">
				{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-info'} }) }}
			</div>
		</div>

		{{ form_end(form) }}
	</div>
{% endblock %}

{% block stylesheets %}
	<style>
		.container {
			width: 100%;
			border: 1px solid #ddd;
			padding-top: 13px;
			border-radius: 10px;
			background-color: #F9F9FA;
			color: #413C49;
			margin-top: 20px;
			padding-bottom: 13px;
		}

		.error {
			color: red;
			font-weight: 600;
		}

		.has-error ul {
			color: red;
			list-style-type: none;
			padding-left: 0;
			padding-top: 5px;
			font-style: italic;
		}

		.btn-lg {
			color: #fff;
			margin: 30px auto auto;
		}
	</style>
{% endblock %}
